<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
      <h2 class="text-2xl font-bold mb-4">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-4 space-y-4">
        <div>
          <label for="email" class="block text-gray-700 font-medium">Email</label>
          <input id="email" type="email" formControlName="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <div *ngIf="f['email'].touched && f['email'].invalid">
            <span *ngIf="f['email'].errors?.['required'] && f['email'].touched && f['email'].dirty" class="text-red-500 font-semibold mt-2">Email is required.</span>
            <span *ngIf="f['email'].errors?.['email']" class="text-red-500 font-semibold mt-2">Invalid email format.</span>
          </div>
        </div>
      
        <div>
          <label for="password" class="block text-gray-700 font-medium">Password</label>
          <input id="password" type="password" formControlName="password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <div *ngIf="f['password'].touched && f['password'].invalid">
            <span *ngIf="f['password'].errors?.['required']" class="text-red-500 font-semibold mt-2">Password is required.</span>
            <span *ngIf="f['password'].errors?.['minlength']" class="text-red-500 font-semibold mt-2">Password must be at least 6 characters.</span>
          </div>
        </div>
      
        <div *ngIf="errorMessage" class="text-red-500 font-semibold mt-2">
          {{ errorMessage }}
        </div>

        <div *ngIf="submitted && loginForm.invalid" class="text-red-500 font-semibold mt-2">
            Please fill in all required fields before submitting.
          </div>
      
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 rounded-lg transition">Login</button>
      </form>
      
    </div>
  </div>
